In [2]:
import pandas as pd
from sklearn.preprocessing import OrdinalEncoder
df = pd.read_csv('data/kc_house_data.csv')

In [3]:
df['sqft_basment_calc'] = df['sqft_living'] - df['sqft_above']

In [4]:
df = df.drop('view', axis=1)

In [5]:
df["waterfront"] = df["waterfront"].fillna("Unknown")

In [6]:
df["yr_renovated"] = df["yr_renovated"].fillna(1)

In [7]:
grades = df[['grade']]
categories = [['3 Poor', '4 Low', '5 Fair', '6 Low Average', '7 Average', '8 Good', '9 Better', '10 Very Good', '11 Excellent', '12 Luxury', '13 Mansion']]
ords = OrdinalEncoder(categories=categories)
ords.fit(grades)
ords.transform(grades)

array([[4.],
       [4.],
       [3.],
       ...,
       [4.],
       [5.],
       [4.]])

In [8]:
grades_encoded = pd.DataFrame(
 
    ords.transform(grades),
    
    index=df.index
)

In [9]:
df.drop('grade', axis=1, inplace=True)

In [10]:
df = pd.concat([df, grades_encoded], axis=1)

In [11]:
df['grades'] = df[0]

In [12]:
df.drop(0, axis=1, inplace=True)

In [13]:
waterfront_e = df[['waterfront']]
categories1 = [['NO', 'Unknown', 'YES']]
ords1 = OrdinalEncoder(categories=categories1)
ords1.fit(waterfront_e)
ords1.transform(waterfront_e)

array([[1.],
       [0.],
       [0.],
       ...,
       [0.],
       [1.],
       [0.]])

In [14]:
waterfront_encoded = pd.DataFrame(
   
    ords1.transform(waterfront_e),

    index=df.index
)

In [15]:
df.drop('waterfront', axis=1, inplace=True)
df = pd.concat([df, waterfront_encoded], axis=1)

In [16]:
df['waterfront'] = df[0]
df.drop(0, axis=1, inplace=True)

In [17]:
conditions_e = df[['condition']]
categories2 = [['Poor', 'Fair', 'Average', 'Good', 'Very Good']]
ords2 = OrdinalEncoder(categories=categories2)
ords2.fit(conditions_e)
ords2.transform(conditions_e)

array([[2.],
       [2.],
       [2.],
       ...,
       [2.],
       [2.],
       [2.]])

In [18]:
conditions_encoded = pd.DataFrame(
    
    ords2.transform(conditions_e),

    index=df.index
)

In [19]:
df.drop('condition', axis=1, inplace=True)
df = pd.concat([df, conditions_encoded], axis=1)

In [20]:
df['condition'] = df[0]
df.drop(0, axis=1, inplace=True)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21597 entries, 0 to 21596
Data columns (total 21 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   id                 21597 non-null  int64
 1   date               21597 non-null  object
 2   price              21597 non-null  float64
 3   bedrooms           21597 non-null  int64
 4   bathrooms          21597 non-null  float64
 5   sqft_living        21597 non-null  int64
 6   sqft_lot           21597 non-null  int64
 7   floors             21597 non-null  float64
 8   sqft_above         21597 non-null  int64
 9   sqft_basement      21597 non-null  object
 10  yr_built           21597 non-null  int64
 11  yr_renovated       21597 non-null  float64
 12  zipcode            21597 non-null  int64
 13  lat                21597 non-null  float64
 14  long               21597 non-null  float64
 15  sqft_living15      21597 non-null  int64
 16  sqft_lot15         21597 non-null  int64
 17  sqft_basment_calc  21597 non-null  int64
 18  grades             21597 non-null  float64
 19  waterfront         21597 non-null  float64
 20  condition          21597 non-null  float64
dtypes: float64(9), int64(10), object(2)
memory usage: 3.5+ MB

In [21]:
df.drop('date', axis=1, inplace=True)
df.drop('sqft_basement', axis=1, inplace=True)
df.drop('id', axis=1, inplace=True)

In [22]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21597 entries, 0 to 21596
Data columns (total 18 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   price              21597 non-null  float64
 1   bedrooms           21597 non-null  int64
 2   bathrooms          21597 non-null  float64
 3   sqft_living        21597 non-null  int64
 4   sqft_lot           21597 non-null  int64
 5   floors             21597 non-null  float64
 6   sqft_above         21597 non-null  int64
 7   yr_built           21597 non-null  int64
 8   yr_renovated       21597 non-null  float64
 9   zipcode            21597 non-null  int64
 10  lat                21597 non-null  float64
 11  long               21597 non-null  float64
 12  sqft_living15      21597 non-null  int64
 13  sqft_lot15         21597 non-null  int64
 14  sqft_basment_calc  21597 non-null  int64
 15  grades             21597 non-null  float64
 16  waterfront         21597 non-null  float64
 17  condition          21597 non-null  float64
dtypes: float64(9), int64(9)
memory usage: 3.0 MB

In [23]:
df.to_csv('cleaned_kc_house_data.csv', index=False)