## Final Project Submission

Please fill out:
* Student name: 
* Student pace: self paced / part time / full time
* Scheduled project review date/time: 
* Instructor name: 
* Blog post URL:

In [1]:
# Your code here - remember to use markdown cells for comments as well!

In [2]:
import pandas as pd
from sklearn.preprocessing import OrdinalEncoder
df = pd.read_csv('data/kc_house_data.csv')
df.head()

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
0,7129300520,10/13/2014,221900.0,3,1.00,1180,5650,1.0,NaN,NONE,...,7 Average,1180,0.0,1955,0.0,98178,47.5112,-122.257,1340,5650
1,6414100192,12/9/2014,538000.0,3,2.25,2570,7242,2.0,NO,NONE,...,7 Average,2170,400.0,1951,1991.0,98125,47.7210,-122.319,1690,7639
2,5631500400,2/25/2015,180000.0,2,1.00,770,10000,1.0,NO,NONE,...,6 Low Average,770,0.0,1933,NaN,98028,47.7379,-122.233,2720,8062
3,2487200875,12/9/2014,604000.0,4,3.00,1960,5000,1.0,NO,NONE,...,7 Average,1050,910.0,1965,0.0,98136,47.5208,-122.393,1360,5000
4,1954400510,2/18/2015,510000.0,3,2.00,1680,8080,1.0,NO,NONE,...,8 Good,1680,0.0,1987,0.0,98074,47.6168,-122.045,1800,7503

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21597 entries, 0 to 21596
Data columns (total 21 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   id             21597 non-null  int64
 1   date           21597 non-null  object
 2   price          21597 non-null  float64
 3   bedrooms       21597 non-null  int64
 4   bathrooms      21597 non-null  float64
 5   sqft_living    21597 non-null  int64
 6   sqft_lot       21597 non-null  int64
 7   floors         21597 non-null  float64
 8   waterfront     19221 non-null  object
 9   view           21534 non-null  object
 10  condition      21597 non-null  object
 11  grade          21597 non-null  object
 12  sqft_above     21597 non-null  int64
 13  sqft_basement  21597 non-null  object
 14  yr_built       21597 non-null  int64
 15  yr_renovated   17755 non-null  float64
 16  zipcode        21597 non-null  int64
 17  lat            21597 non-null  float64
 18  long           21597 non-null  float64
 19  sqft_living15  21597 non-null  int64
 20  sqft_lot15     21597 non-null  int64
dtypes: float64(6), int64(9), object(6)
memory usage: 3.5+ MB

In [4]:
df['yr_renovated'].isna().sum()

3842

In [5]:
df['sqft_basment_calc'] = df['sqft_living'] - df['sqft_above']
df.corr()

,id,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,sqft_above,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15,sqft_basment_calc
id,1.000000,-0.016772,0.001150,0.005162,-0.012241,-0.131911,0.018608,-0.010799,0.021617,-0.012010,-0.008211,-0.001798,0.020672,-0.002701,-0.138557,-0.005193
price,-0.016772,1.000000,0.308787,0.525906,0.701917,0.089876,0.256804,0.605368,0.053953,0.129599,-0.053402,0.306692,0.022036,0.585241,0.082845,0.323799
bedrooms,0.001150,0.308787,1.000000,0.514508,0.578212,0.032471,0.177944,0.479386,0.155670,0.018495,-0.154092,-0.009951,0.132054,0.393406,0.030690,0.302808
bathrooms,0.005162,0.525906,0.514508,1.000000,0.755758,0.088373,0.502582,0.686668,0.507173,0.051050,-0.204786,0.024280,0.224903,0.569884,0.088303,0.283440
sqft_living,-0.012241,0.701917,0.578212,0.755758,1.000000,0.173453,0.353953,0.876448,0.318152,0.055660,-0.199802,0.052155,0.241214,0.756402,0.184342,0.435130
sqft_lot,-0.131911,0.089876,0.032471,0.088373,0.173453,1.000000,-0.004814,0.184139,0.052946,0.004513,-0.129586,-0.085514,0.230227,0.144763,0.718204,0.015418
floors,0.018608,0.256804,0.177944,0.502582,0.353953,-0.004814,1.000000,0.523989,0.489193,0.003535,-0.059541,0.049239,0.125943,0.280102,-0.010722,-0.245715
sqft_above,-0.010799,0.605368,0.479386,0.686668,0.876448,0.184139,0.523989,1.000000,0.424037,0.022137,-0.261570,-0.001199,0.344842,0.731767,0.195077,-0.052156
yr_built,0.021617,0.053953,0.155670,0.507173,0.318152,0.052946,0.489193,0.424037,1.000000,-0.225209,-0.347210,-0.148370,0.409993,0.326377,0.070777,-0.133064
yr_renovated,-0.012010,0.129599,0.018495,0.051050,0.055660,0.004513,0.003535,0.022137,-0.225209,1.000000,0.069846,0.032145,-0.072156,-0.000247,0.003852,0.073832
zipcode,-0.008211,-0.053402,-0.154092,-0.204786,-0.199802,-0.129586,-0.059541,-0.261570,-0.347210,0.069846,1.000000,0.266742,-0.564259,-0.279299,-0.147294,0.074725
lat,-0.001798,0.306692,-0.009951,0.024280,0.052155,-0.085514,0.049239,-0.001199,-0.148370,0.032145,0.266742,1.000000,-0.135371,0.048679,-0.086139,0.110414
long,0.020672,0.022036,0.132054,0.224903,0.241214,0.230227,0.125943,0.344842,0.409993,-0.072156,-0.564259,-0.135371,1.000000,0.335626,0.255586,-0.144546
sqft_living15,-0.002701,0.585241,0.393406,0.569884,0.756402,0.144763,0.280102,0.731767,0.326377,-0.000247,-0.279299,0.048679,0.335626,1.000000,0.183515,0.200443
sqft_lot15,-0.138557,0.082845,0.030690,0.088303,0.184342,0.718204,-0.010722,0.195077,0.070777,0.003852,-0.147294,-0.086139,0.255586,0.183515,1.000000,0.017550
sqft_basment_calc,-0.005193,0.323799,0.302808,0.283440,0.435130,0.015418,-0.245715,-0.052156,-0.133064,0.073832,0.074725,0.110414,-0.144546,0.200443,0.017550,1.000000

In [6]:
df = df.drop('view', axis=1)

In [7]:
y = df['price']
X = df.drop('price', axis=1)

In [8]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=42)

In [9]:
# Run this cell without changes
print(f"X_train is a DataFrame with {X_train.shape[0]} rows and {X_train.shape[1]} columns")
print(f"y_train is a Series with {y_train.shape[0]} values")

# We always should have the same number of rows in X as values in y
assert X_train.shape[0] == y_train.shape[0]

X_train is a DataFrame with 16197 rows and 20 columns
y_train is a Series with 16197 values

In [10]:
relevant_columns = [    
 'bedrooms',    
 'bathrooms',  
 'sqft_living',  
 'sqft_lot',    
 'floors',    
 'waterfront', 
 'condition',
 'grade',
 'sqft_above',
 'sqft_basment_calc',
 'yr_built',
 'yr_renovated',
 'zipcode',
 'lat',
 'long',
 'sqft_living15',
 'sqft_lot15'
]

# Reassign X_train so that it only contains relevant columns
X_train = X_train.loc[:, relevant_columns]

# Visually inspect X_train
X_train

,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,condition,grade,sqft_above,sqft_basment_calc,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
6405,3,2.50,1880,4499,2.0,NO,Average,8 Good,1880,0,1993,0.0,98029,47.5664,-121.999,2130,5114
937,3,2.50,2020,6564,1.0,NO,Average,7 Average,1310,710,1994,0.0,98042,47.3545,-122.158,1710,5151
19076,5,4.00,4720,493534,2.0,NO,Very Good,9 Better,3960,760,1975,0.0,98027,47.4536,-122.009,2160,219542
15201,2,2.00,1430,3880,1.0,NO,Good,7 Average,1430,0,1949,0.0,98117,47.6844,-122.392,1430,3880
13083,3,2.25,2270,32112,1.0,NO,Good,8 Good,1740,530,1980,0.0,98042,47.3451,-122.094,2310,41606
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11964,3,2.50,2230,5800,2.0,NO,Average,7 Average,2230,0,2004,0.0,98065,47.5308,-121.847,2230,6088
21575,4,2.75,2770,3852,2.0,NO,Average,8 Good,2770,0,2014,NaN,98178,47.5001,-122.232,1810,5641
5390,4,1.50,1530,9000,1.0,NO,Good,6 Low Average,1530,0,1976,0.0,98014,47.6492,-121.908,1520,8500
860,1,0.75,380,15000,1.0,NO,Average,5 Fair,380,0,1963,0.0,98168,47.4810,-122.323,1170,15000
15795,4,2.50,2755,11612,2.0,NO,Average,8 Good,2755,0,2001,0.0,98019,47.7394,-121.965,2820,12831

In [11]:
X_train.isna().sum()

bedrooms                0
bathrooms               0
sqft_living             0
sqft_lot                0
floors                  0
waterfront           1756
condition               0
grade                   0
sqft_above              0
sqft_basment_calc       0
yr_built                0
yr_renovated         2879
zipcode                 0
lat                     0
long                    0
sqft_living15           0
sqft_lot15              0
dtype: int64

In [12]:
X_train[X_train["waterfront"] == 'NO']

,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,condition,grade,sqft_above,sqft_basment_calc,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
6405,3,2.50,1880,4499,2.0,NO,Average,8 Good,1880,0,1993,0.0,98029,47.5664,-121.999,2130,5114
937,3,2.50,2020,6564,1.0,NO,Average,7 Average,1310,710,1994,0.0,98042,47.3545,-122.158,1710,5151
19076,5,4.00,4720,493534,2.0,NO,Very Good,9 Better,3960,760,1975,0.0,98027,47.4536,-122.009,2160,219542
15201,2,2.00,1430,3880,1.0,NO,Good,7 Average,1430,0,1949,0.0,98117,47.6844,-122.392,1430,3880
13083,3,2.25,2270,32112,1.0,NO,Good,8 Good,1740,530,1980,0.0,98042,47.3451,-122.094,2310,41606
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11964,3,2.50,2230,5800,2.0,NO,Average,7 Average,2230,0,2004,0.0,98065,47.5308,-121.847,2230,6088
21575,4,2.75,2770,3852,2.0,NO,Average,8 Good,2770,0,2014,NaN,98178,47.5001,-122.232,1810,5641
5390,4,1.50,1530,9000,1.0,NO,Good,6 Low Average,1530,0,1976,0.0,98014,47.6492,-121.908,1520,8500
860,1,0.75,380,15000,1.0,NO,Average,5 Fair,380,0,1963,0.0,98168,47.4810,-122.323,1170,15000
15795,4,2.50,2755,11612,2.0,NO,Average,8 Good,2755,0,2001,0.0,98019,47.7394,-121.965,2820,12831

In [13]:
X_train["waterfront"] = X_train["waterfront"].fillna("Unknown")
X_train["waterfront"].value_counts()

NO         14330
Unknown     1756
YES          111
Name: waterfront, dtype: int64

In [14]:
X_train['waterfront'].isna().sum()

0

In [15]:
X_train["yr_renovated"] = X_train["yr_renovated"].fillna(1)
X_train["yr_renovated"].value_counts()

0.0       12771
1.0        2879
2014.0       49
2005.0       24
2013.0       23
          ...
1954.0        1
1959.0        1
1944.0        1
1951.0        1
1978.0        1
Name: yr_renovated, Length: 67, dtype: int64

In [16]:
X_train['yr_renovated'].isna().sum()

0

In [17]:
X_train.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 16197 entries, 6405 to 15795
Data columns (total 17 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   bedrooms           16197 non-null  int64
 1   bathrooms          16197 non-null  float64
 2   sqft_living        16197 non-null  int64
 3   sqft_lot           16197 non-null  int64
 4   floors             16197 non-null  float64
 5   waterfront         16197 non-null  object
 6   condition          16197 non-null  object
 7   grade              16197 non-null  object
 8   sqft_above         16197 non-null  int64
 9   sqft_basment_calc  16197 non-null  int64
 10  yr_built           16197 non-null  int64
 11  yr_renovated       16197 non-null  float64
 12  zipcode            16197 non-null  int64
 13  lat                16197 non-null  float64
 14  long               16197 non-null  float64
 15  sqft_living15      16197 non-null  int64
 16  sqft_lot15         16197 non-null  int64
dtypes: float64(5), int64(9), object(3)
memory usage: 2.2+ MB

In [18]:
grades = X_train[['grade']]
categories = [['3 Poor', '4 Low', '5 Fair', '6 Low Average', '7 Average', '8 Good', '9 Better', '10 Very Good', '11 Excellent', '12 Luxury', '13 Mansion']]
ords = OrdinalEncoder(categories=categories)
ords.fit(grades)
ords.transform(grades)

array([[5.],
       [4.],
       [6.],
       ...,
       [3.],
       [2.],
       [5.]])

In [19]:
grades_encoded = pd.DataFrame(
    # Pass in NumPy array
    ords.transform(grades),
    
#     columns = ords.categories_[[0]],
    # Set the index to match X_train's index
    index=X_train.index
)

# Visually inspect new dataframe
grades_encoded

         0
6405   5.0
937    4.0
19076  6.0
15201  4.0
13083  5.0
...    ...
11964  4.0
21575  5.0
5390   3.0
860    2.0
15795  5.0

[16197 rows x 1 columns]

In [20]:
X_train.drop('grade', axis=1, inplace=True)
X_train = pd.concat([X_train, grades_encoded], axis=1)
X_train.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 16197 entries, 6405 to 15795
Data columns (total 17 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   bedrooms           16197 non-null  int64
 1   bathrooms          16197 non-null  float64
 2   sqft_living        16197 non-null  int64
 3   sqft_lot           16197 non-null  int64
 4   floors             16197 non-null  float64
 5   waterfront         16197 non-null  object
 6   condition          16197 non-null  object
 7   sqft_above         16197 non-null  int64
 8   sqft_basment_calc  16197 non-null  int64
 9   yr_built           16197 non-null  int64
 10  yr_renovated       16197 non-null  float64
 11  zipcode            16197 non-null  int64
 12  lat                16197 non-null  float64
 13  long               16197 non-null  float64
 14  sqft_living15      16197 non-null  int64
 15  sqft_lot15         16197 non-null  int64
 16  0                  16197 non-null  float64
dtypes: float64(6), int64(9), object(2)
memory usage: 2.2+ MB

In [23]:
# dcX_train.rename(columns={0: 'grades'})
X_train['grades'] = X_train[0]
X_train.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 16197 entries, 6405 to 15795
Data columns (total 18 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   bedrooms           16197 non-null  int64
 1   bathrooms          16197 non-null  float64
 2   sqft_living        16197 non-null  int64
 3   sqft_lot           16197 non-null  int64
 4   floors             16197 non-null  float64
 5   waterfront         16197 non-null  object
 6   condition          16197 non-null  object
 7   sqft_above         16197 non-null  int64
 8   sqft_basment_calc  16197 non-null  int64
 9   yr_built           16197 non-null  int64
 10  yr_renovated       16197 non-null  float64
 11  zipcode            16197 non-null  int64
 12  lat                16197 non-null  float64
 13  long               16197 non-null  float64
 14  sqft_living15      16197 non-null  int64
 15  sqft_lot15         16197 non-null  int64
 16  0                  16197 non-null  float64
 17  grades             16197 non-null  float64
dtypes: float64(7), int64(9), object(2)
memory usage: 2.3+ MB

In [24]:
X_train.drop(0, axis=1, inplace=True)

In [25]:
X_train.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 16197 entries, 6405 to 15795
Data columns (total 17 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   bedrooms           16197 non-null  int64
 1   bathrooms          16197 non-null  float64
 2   sqft_living        16197 non-null  int64
 3   sqft_lot           16197 non-null  int64
 4   floors             16197 non-null  float64
 5   waterfront         16197 non-null  object
 6   condition          16197 non-null  object
 7   sqft_above         16197 non-null  int64
 8   sqft_basment_calc  16197 non-null  int64
 9   yr_built           16197 non-null  int64
 10  yr_renovated       16197 non-null  float64
 11  zipcode            16197 non-null  int64
 12  lat                16197 non-null  float64
 13  long               16197 non-null  float64
 14  sqft_living15      16197 non-null  int64
 15  sqft_lot15         16197 non-null  int64
 16  grades             16197 non-null  float64
dtypes: float64(6), int64(9), object(2)
memory usage: 2.2+ MB

In [26]:
waterfront_e = X_train[['waterfront']]
categories1 = [['NO', 'Unknown', 'YES']]
ords1 = OrdinalEncoder(categories=categories1)
ords1.fit(waterfront_e)
ords1.transform(waterfront_e)

array([[0.],
       [0.],
       [0.],
       ...,
       [0.],
       [0.],
       [0.]])

In [28]:
waterfront_encoded = pd.DataFrame(
    # Pass in NumPy array
    ords1.transform(waterfront_e),
    
#     columns = ords.categories_[[0]],
    # Set the index to match X_train's index
    index=X_train.index
)

# Visually inspect new dataframe
waterfront_encoded

         0
6405   0.0
937    0.0
19076  0.0
15201  0.0
13083  0.0
...    ...
11964  0.0
21575  0.0
5390   0.0
860    0.0
15795  0.0

[16197 rows x 1 columns]

In [29]:
X_train.drop('waterfront', axis=1, inplace=True)
X_train = pd.concat([X_train, waterfront_encoded], axis=1)
X_train.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 16197 entries, 6405 to 15795
Data columns (total 17 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   bedrooms           16197 non-null  int64
 1   bathrooms          16197 non-null  float64
 2   sqft_living        16197 non-null  int64
 3   sqft_lot           16197 non-null  int64
 4   floors             16197 non-null  float64
 5   condition          16197 non-null  object
 6   sqft_above         16197 non-null  int64
 7   sqft_basment_calc  16197 non-null  int64
 8   yr_built           16197 non-null  int64
 9   yr_renovated       16197 non-null  float64
 10  zipcode            16197 non-null  int64
 11  lat                16197 non-null  float64
 12  long               16197 non-null  float64
 13  sqft_living15      16197 non-null  int64
 14  sqft_lot15         16197 non-null  int64
 15  grades             16197 non-null  float64
 16  0                  16197 non-null  float64
dtypes: float64(7), int64(9), object(1)
memory usage: 2.2+ MB

In [31]:
X_train['waterfront'] = X_train[0]
X_train.drop(0, axis=1, inplace=True)
X_train.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 16197 entries, 6405 to 15795
Data columns (total 17 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   bedrooms           16197 non-null  int64
 1   bathrooms          16197 non-null  float64
 2   sqft_living        16197 non-null  int64
 3   sqft_lot           16197 non-null  int64
 4   floors             16197 non-null  float64
 5   condition          16197 non-null  object
 6   sqft_above         16197 non-null  int64
 7   sqft_basment_calc  16197 non-null  int64
 8   yr_built           16197 non-null  int64
 9   yr_renovated       16197 non-null  float64
 10  zipcode            16197 non-null  int64
 11  lat                16197 non-null  float64
 12  long               16197 non-null  float64
 13  sqft_living15      16197 non-null  int64
 14  sqft_lot15         16197 non-null  int64
 15  grades             16197 non-null  float64
 16  waterfront         16197 non-null  float64
dtypes: float64(7), int64(9), object(1)
memory usage: 2.2+ MB

In [35]:
conditions_e = X_train[['condition']]
categories2 = [['Poor', 'Fair', 'Average', 'Good', 'Very Good']]
ords2 = OrdinalEncoder(categories=categories2)
ords2.fit(conditions_e)
ords2.transform(conditions_e)

array([[2.],
       [2.],
       [4.],
       ...,
       [3.],
       [2.],
       [2.]])

In [36]:
conditions_encoded = pd.DataFrame(
    # Pass in NumPy array
    ords2.transform(conditions_e),
    
#     columns = ords.categories_[[0]],
    # Set the index to match X_train's index
    index=X_train.index
)

# Visually inspect new dataframe
conditions_encoded

         0
6405   2.0
937    2.0
19076  4.0
15201  3.0
13083  3.0
...    ...
11964  2.0
21575  2.0
5390   3.0
860    2.0
15795  2.0

[16197 rows x 1 columns]

In [38]:
X_train.drop('condition', axis=1, inplace=True)
X_train = pd.concat([X_train, conditions_encoded], axis=1)
X_train.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 16197 entries, 6405 to 15795
Data columns (total 17 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   bedrooms           16197 non-null  int64
 1   bathrooms          16197 non-null  float64
 2   sqft_living        16197 non-null  int64
 3   sqft_lot           16197 non-null  int64
 4   floors             16197 non-null  float64
 5   sqft_above         16197 non-null  int64
 6   sqft_basment_calc  16197 non-null  int64
 7   yr_built           16197 non-null  int64
 8   yr_renovated       16197 non-null  float64
 9   zipcode            16197 non-null  int64
 10  lat                16197 non-null  float64
 11  long               16197 non-null  float64
 12  sqft_living15      16197 non-null  int64
 13  sqft_lot15         16197 non-null  int64
 14  grades             16197 non-null  float64
 15  waterfront         16197 non-null  float64
 16  0                  16197 non-null  float64
dtypes: float64(8), int64(9)
memory usage: 2.2 MB

In [39]:
X_train['condition'] = X_train[0]
X_train.drop(0, axis=1, inplace=True)
X_train.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 16197 entries, 6405 to 15795
Data columns (total 17 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   bedrooms           16197 non-null  int64
 1   bathrooms          16197 non-null  float64
 2   sqft_living        16197 non-null  int64
 3   sqft_lot           16197 non-null  int64
 4   floors             16197 non-null  float64
 5   sqft_above         16197 non-null  int64
 6   sqft_basment_calc  16197 non-null  int64
 7   yr_built           16197 non-null  int64
 8   yr_renovated       16197 non-null  float64
 9   zipcode            16197 non-null  int64
 10  lat                16197 non-null  float64
 11  long               16197 non-null  float64
 12  sqft_living15      16197 non-null  int64
 13  sqft_lot15         16197 non-null  int64
 14  grades             16197 non-null  float64
 15  waterfront         16197 non-null  float64
 16  condition          16197 non-null  float64
dtypes: float64(8), int64(9)
memory usage: 2.2 MB